.picker {
    border-color: #D8D8D8;
    border-width: 1;
    background-color: #F8F8F8;
    visibility: collapse;
}

.picker_visible {
    visibility: visible;
}

.complete {
    text-align: right;
    margin-top: 5;
    margin-right: 10;
    margin-bottom: 5;
}

.list-picker {
    background-color: #fff;
}
