.create {
    horizontal-align: right;
    margin-right: 10;
}

.list {
    margin-left: 10;
    margin-right: 10;
}

.item {
    padding-top: 10;
}

.attack {
    margin-right: 5;
}

.level {
    horizontal-align: right;
}
